body{
    font-family: 'Open Sans', sans-serif;   
}

.hero{
    width: 100%;
    position: fixed;    
    box-sizing: border-box;   
    background-image: url(../img/foto_thiago.png);
    background-position: center top;     
    padding: 180px;    
    position: relative;    
}

.max-width{   
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.max-width h1{
    float: left;
    margin-top: auto;
}

.top-nav{    
    margin-top: -150px;
    margin-right: auto;        
    display: block;
    position: relative;
}

.top-nav li{
    display: inline-block;
    padding: 10px;
    list-style: none;
    position: relative;
    right: 100px;                  
}

.top-nav a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #353535;
    position: relative;
    right: -200px;    
}

.top-nav a:hover{
    color:  #7dbf3b;
    font-weight: bold;
    border-bottom: 1px solid #353535;
}

.icon-redes {       
    display: inline-block;
    position: relative;
    right: -600px;
    top: -73px;
}

.icon-redes li{
    list-style: none;            
    float:right;
    padding: .2em;    
    font-size: 30px;          
}

.icon-redes a{
    text-decoration: none;    
    color: #353535;
}

.icon-redes a:hover{
    color:  #7dbf3b;
}

.main-header-subtitle{
    width: 80%; 
    margin-top: 200px;
    margin-right: auto;
    text-align: justify;
    color: #b2b2b2;
    line-height: 1.5;  
}

.main-header-subtitle h2{
    color: #373839;
}

.top-content-subtitle {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 200px;
    text-align: left;    
}

.button-dow{
    text-transform: uppercase;
    display: inline-block;
    padding: .9em 2.5em;
    background: #7dbf3b;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}


h2{
    text-transform: uppercase;
    font-family: 'Londrina Outline', cursive;
    letter-spacing: 5px;
    color: #7dbf3b;
    font-size: 40px;    
}

.row{
    list-style: none;
}

.icon-hab li{
    border: 2px solid #7dbf3b;
    border-radius: 5px;    
    margin-right: 15px;
    margin-left: -12px;
    display: inline-block;
    text-decoration: none;    
    color: #7dbf3b;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    width: 200px;
    height: 200px;
}

.icon-hab li h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;    
}

.icon-hab p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #b9b9b9;
    text-align: center;
    line-height: 1.5;
}

.main-content{
    width: 80%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    float: inline-end;       
}

.cinza{
    background: #f7f5f5;    
    margin: 0 auto;    
    padding: 10px;    
}

.row{
    padding-top: 10px;    
}

.col-2{
    width:25%;
    float: left;
    padding-bottom: 20px;
}

.textarea{
    display: inline-block;
    border-radius: 5px;    
    height: 10em;
    width: 40em;    
}

.input, textarea{
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid transparent;
    margin-bottom:50px;    
}

.button-mensagem{   
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 530px;    
    padding: .5em 2em;
    border: 2px solid #7dbf3b;    
    border-radius: 5px;
    text-decoration: none;
    color: #7dbf3b;
    cursor: pointer;
    transition:all;
    display: block;
}

.button-mensagem:hover{
    background-color:#6daa2f;
    border-color:transparent;
    color: white;
}

.form-contact{
    padding-top: 20px;
    position: relative;
    left: 130px;
    display: block;
}

textarea{
    display: block;
}

#nome, #email{
    background-color: #e7e7e7;
    display: block;
    padding: 5px;
    border-radius: 5px;
    padding: .6em 7.5em;
    border: 3px solid transparent;
    margin-bottom:50px;    
}

.maps{
    position: relative;
    left: 450px;
    top: -585px; 
}









